body {
    background-color: #983636;
    color: white;
}

header {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.logoimagem {
    width: 10px;
    height: 10px;
    border-radius: 25px;
}



.menu1 li{
    display: inline-block;
    margin 0 10px;

}

.menu1 li a  {
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform:uppercase ;
    padding: 10px 25px;
    border-radius: 10px;

}

.menu1 li a:hover {
    background-color:rgba(100, 100, 100, 0.8);

}

* {
    margin: 0;
    padding: 0;

}

classe4 {
    background-image: linear-gradient(#ff5b5b), (#369);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

classe7 {
    width: 35%;
}

classe5 {
    padding: 24px 0;
}

.logo-colegio {
    position: initial;
}

.Maria-Vitoria {
    width: 10%;
}

.Gustavo {
    width: 10%;
}

.Bernardo {
    width: 10%;
}

.Themilly {
    width: 10%;
}

.Cara-q-fez-td {
    width: 10%;
}

.coluna {
    float: left;
    width: 10%;

    .row:after {
        content: "";
        clear: both;
        display: table;
    }

    @media screen (max-width: 500px) {
        .column {
            width: 10%%;
        }
    }